html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #7159c1;

    width:100%;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 20vh 70vh 10vh;

    grid-template-areas: "header header" "main aside" "footer footer";
}

header {
    background-color: yellow;

    grid-area: header;

}

main {
    background-color: blue;

    grid-area: main;
}

aside {
    background-color: green;

    grid-area: aside;
}

footer {
    background-color: red; 

    grid-area: footer;
}
